
body{
 display: flex;
  justify-content: center; 
}
#score{
  margin-left: 30px;
  font-size: 50px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;

}
#pauseButton{
 margin: 10px;

}
#startButton{
margin: 10px;

}
.grid{
    position: absolute;
    width:1110px ;
    height:500px;
    background-color: black;
    border: solid black 1px;
    margin-top: 80px; 
    margin: 100%vh;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 196, 0); 
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(167, 0, 167) ;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255) ;
}